.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 3rem;
}

.icon {
  font-size: 10rem;
  color: var(--ion-text-color) !important;
  opacity: 0.3;
}

.message {
  text-align: center;
  color: var(--ion-text-color) !important;
  opacity: 0.3;
  font-size: 1.5rem;
}
