.finished-configs-info {
  font-size: 1rem;
  font-weight: lighter;
  opacity: 0.6;
}

.item-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.progress-wrapper {
    display: flex;
    align-items: center;
}